*.o
*.swp
*.swo
main.dSYM/*
Session.vim
main
*.code-workspace
.DS_Store
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.test
!*.test.cpp
.idea/
*.dSYM
.vscode/*
obj/*
bin/*

!obj/.gitkeep
!bin/.gitkeep

# headers in dist are just a copy of outside headers
dist/*.hpp
__pychache__
